# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea/

# Local backups (remove these lines if you want to track copies)
* - Copy.py
*_cp.py
*_init.py
